/* ControlCitas.css */
 
.content {
  align-items: stretch;
  margin-left: 200px; 
  padding: 16px;
  transition: margin-left 0.3s ease-in-out; 
}

.content.expand-content {
  margin-left: 0; 
}

.h1-cc {
    text-align: center;
}

.table-cc {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
.th-cc, .td-cc {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.th-cc {
    background-color: #f2f2f2;
}

.form-cc {
    margin-top: 20px;
}
  
input[type="text"], input[type="date"], input[type="submit"] {
    padding: 5px;
}

