/* start.css */

.content {
  display: flex;
  align-items: stretch;
  margin-left: 200px; 
  padding: 16px;
  transition: margin-left 0.3s ease-in-out; 
}

.content.expand-content {
  margin-left: 0; 
}

